
<!-- Footer -->
<footer class="page-footer font-small blue pt-4 fixed-bottom">

	<!-- Footer Links -->
	<div class="container-fluid text-center text-md-left">
  
	  <!-- Grid row -->
	  <div class="row">
  
		<!-- Grid column -->
		<div class="col-md-6 mt-md-0 mt-3">
  
		  <!-- Content -->
		  <h5 class="text-uppercase"><img id="logo" src="/logo.png" />urvey Storm</h5>
		  <p>Here you can use rows and columns to organize your footer content.</p>
  
		</div>
		<!-- Grid column -->
  
		<hr class="clearfix w-100 d-md-none pb-3">
  
		<!-- Grid column -->
		<div class="col-md-3 mb-md-0 mb-3">
  
		  <!-- Links -->
		  <h5 class="text-uppercase">Follow us on Github</h5>
  
		  <ul class="list-unstyled">
			<li>
			  <a href="https://github.com/adrienmillot/holberton_portfolio">Project</a>
			</li>
			<li>
			  <a href="https://github.com/SimonBR017">Simon BRARD</a>
			</li>
			<li>
			  <a href="https://github.com/Sarolus">Nathan LAPEYRE</a>
			</li>
			<li>
			  <a href="https://github.com/adrienmillot">Adrien MILLOT</a>
			</li>
		  </ul>
  
		</div>
		<!-- Grid column -->
  
		<!-- Grid column -->
		<div class="col-md-3 mb-md-0 mb-3">
  
		  <!-- Links -->
		  <h5 class="text-uppercase">Contact us</h5>
  
		  <ul class="list-unstyled">
			<li>
			  <a href="mailto:@holbertonschool.com">Simon BRARD</a>
			</li>
			<li>
			  <a href="mailto:2760@holbertonschool.com">Nathan LAPEYRE</a>
			</li>
			<li>
			  <a href="mailto:2701@holbertonschool.com">Adrien MILLOT</a>
			</li>
		  </ul>
  
		</div>
		<!-- Grid column -->
  
	  </div>
	  <!-- Grid row -->
  
	</div>
	<!-- Footer Links -->

	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">© 2020 Copyright:
	  <a href="/">Survey Storm</a>
	</div>
	<!-- Copyright -->
  
  </footer>
  <!-- Footer -->
